src/main/app/gateway-audit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <flow name="gateway-auditFlow">
        <jms:inbound-endpoint queue="MCA.GATEWAY.AUDITQ" connector-ref="Active_MQ" doc:name="AuditQ">
            <jms:transaction action="NOT_SUPPORTED"/>
        </jms:inbound-endpoint>
        <logger level="INFO" doc:name="Logger" message="#[&quot;Audit request for the user with MSISDN number  &quot; + sessionVars.number]"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Audit DB">
            <db:parameterized-query><![CDATA[insert into gateway_audit_data.gateway_audit (request_message,msisdn,provider,short_message) values (#[message.payload],#[sessionVars.number],#[sessionVars.provider],#[sessionVars.sms]);]]></db:parameterized-query>
        </db:insert>
    </flow>
</mule>
